@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="get">
    <input type="text" name="searchString" class="form-control" placeholder="Search for a movie..." />
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<nav>
    <ul>
        <li><a href="@Url.Action("Index", "Movies")">Movies</a></li>
        <li><a href="@Url.Action("Index", "MovieLists")">Movie Lists</a></li>
        <li><a href="@Url.Action("Index", "MovieReviews")">Reviews</a></li>
    </ul>
</nav>
